In [1]:
import numpy as np
import pandas as pd

In [3]:
a = ['x', 'y', 'z']
b = ['w']
a.append(b)
a

['x', 'y', 'z', ['w']]

In [4]:
a = ('x', 'y', 'z')
a[0] = 't'
print(a)

TypeError: ignored

In [5]:
data = pd.read_csv('/content/drive/MyDrive/Python Course/Python Championship Quizzes/Numpy & Pandas/Dateset_ODI.csv')

In [7]:
data.head()

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
0,ODI # 1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971"
1,ODI # 2,England,Australia,England,6 wickets,Manchester,"Aug 24, 1972"
2,ODI # 3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972"
3,ODI # 4,England,Australia,England,2 wickets,Birmingham,"Aug 28, 1972"
4,ODI # 5,New Zealand,Pakistan,New Zealand,22 runs,Christchurch,"Feb 11, 1973"

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3932 entries, 0 to 3931
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Scorecard   3932 non-null   object
 1   Team 1      3932 non-null   object
 2   Team 2      3932 non-null   object
 3   Winner      3932 non-null   object
 4   Margin      3753 non-null   object
 5   Ground      3932 non-null   object
 6   Match Date  3932 non-null   object
dtypes: object(7)
memory usage: 215.2+ KB

In [10]:
data.describe()

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
count,3932,3932,3932,3932,3753,3932,3932
unique,3932,24,25,25,227,173,3386
top,ODI # 1,Australia,Sri Lanka,Australia,6 wickets,Sharjah,"Feb 4, 2007"
freq,1,583,508,555,347,228,6

In [18]:
Sharjah_Winners = data[data['Ground']== 'Sharjah']
Sharjah_Winners

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
258,ODI # 259,Pakistan,Sri Lanka,Sri Lanka,5 wickets,Sharjah,"Apr 6, 1984"
259,ODI # 260,India,Sri Lanka,India,10 wickets,Sharjah,"Apr 8, 1984"
260,ODI # 261,India,Pakistan,India,54 runs,Sharjah,"Apr 13, 1984"
320,ODI # 321,India,Pakistan,India,38 runs,Sharjah,"Mar 22, 1985"
321,ODI # 322,Australia,England,Australia,2 wickets,Sharjah,"Mar 24, 1985"
...,...,...,...,...,...,...,...
3721,ODI # 3722,Afghanistan,Zimbabwe,Afghanistan,2 wickets,Sharjah,"Jan 6, 2016"
3783,ODI # 3784,Pakistan,West Indies,Pakistan,111 runs,Sharjah,"Sep 30, 2016"
3787,ODI # 3788,Pakistan,West Indies,Pakistan,59 runs,Sharjah,"Oct 2, 2016"
3926,ODI # 3927,Pakistan,Sri Lanka,Pakistan,7 wickets,Sharjah,"Oct 20, 2017"
3929,ODI # 3930,Pakistan,Sri Lanka,Pakistan,9 wickets,Sharjah,"Oct 23, 2017"

In [19]:
Sharjah_Winners.describe()

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
count,228,228,228,228,226,228,228
unique,228,10,14,13,91,1,228
top,ODI # 259,Pakistan,Sri Lanka,Pakistan,7 wickets,Sharjah,"Apr 6, 1984"
freq,1,72,62,83,20,228,1

In [24]:
By_date = data.groupby('Match Date').count()
By_date

             Scorecard  Team 1  Team 2  Winner  Margin  Ground
Match Date
Apr 1, 1984          1       1       1       1       1       1
Apr 1, 1988          1       1       1       1       1       1
Apr 1, 1995          1       1       1       1       1       1
Apr 1, 1996          1       1       1       1       0       1
Apr 1, 1998          2       2       2       2       2       2
...                ...     ...     ...     ...     ...     ...
Sep 9, 1986          1       1       1       1       1       1
Sep 9, 1994          1       1       1       1       1       1
Sep 9, 2003          1       1       1       1       1       1
Sep 9, 2009          1       1       1       1       1       1
Sep 9, 2011          1       1       1       1       1       1

[3386 rows x 6 columns]

In [29]:
By_date[By_date['Scorecard']== 6]

             Scorecard  Team 1  Team 2  Winner  Margin  Ground
Match Date
Feb 4, 2007          6       6       6       6       6       6

In [30]:
Australi_Wins = data[data['Winner']== 'Australia']
Australi_Wins

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
0,ODI # 1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971"
2,ODI # 3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972"
9,ODI # 10,New Zealand,Australia,Australia,7 wickets,Dunedin,"Mar 30, 1974"
10,ODI # 11,New Zealand,Australia,Australia,31 runs,Christchurch,"Mar 31, 1974"
20,ODI # 21,Australia,Pakistan,Australia,73 runs,Leeds,"Jun 7, 1975"
...,...,...,...,...,...,...,...
3816,ODI # 3817,Australia,Pakistan,Australia,92 runs,Brisbane,"Jan 13, 2017"
3819,ODI # 3820,Australia,Pakistan,Australia,7 wickets,Perth,"Jan 19, 2017"
3821,ODI # 3822,Australia,Pakistan,Australia,86 runs,Sydney,"Jan 22, 2017"
3825,ODI # 3826,Australia,Pakistan,Australia,57 runs,Adelaide,"Jan 26, 2017"
3916,ODI # 3917,India,Australia,Australia,21 runs,Bengaluru,"Sep 28, 2017"

In [31]:
Australi_Wins.describe()

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
count,555,555,555,555,555,555,555
unique,555,14,19,1,151,97,555
top,ODI # 1,Australia,Australia,Australia,7 wickets,Sydney,"Jan 5, 1971"
freq,1,383,172,555,47,85,1

In [33]:
Team2_Wins = data[data['Winner']== data['Team 2']]
Team2_Wins

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
2,ODI # 3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972"
8,ODI # 9,England,West Indies,West Indies,8 wickets,The Oval,"Sep 7, 1973"
9,ODI # 10,New Zealand,Australia,Australia,7 wickets,Dunedin,"Mar 30, 1974"
10,ODI # 11,New Zealand,Australia,Australia,31 runs,Christchurch,"Mar 31, 1974"
13,ODI # 14,England,Pakistan,Pakistan,7 wickets,Nottingham,"Aug 31, 1974"
...,...,...,...,...,...,...,...
3907,ODI # 3908,Sri Lanka,India,India,168 runs,Colombo (RPS),"Aug 31, 2017"
3908,ODI # 3909,Sri Lanka,India,India,6 wickets,Colombo (RPS),"Sep 3, 2017"
3916,ODI # 3917,India,Australia,Australia,21 runs,Bengaluru,"Sep 28, 2017"
3919,ODI # 3920,P.N.G.,Scotland,Scotland,101 runs,Port Moresby,"Oct 6, 2017"
3927,ODI # 3928,India,New Zealand,New Zealand,6 wickets,Mumbai,"Oct 22, 2017"

In [37]:
Lords_Wins = data[data['Ground']== 'Lord\'s']
Lords_Wins

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
2,ODI # 3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972"
18,ODI # 19,England,India,England,202 runs,Lord's,"Jun 7, 1975"
32,ODI # 33,Australia,West Indies,West Indies,17 runs,Lord's,"Jun 21, 1975"
37,ODI # 38,England,West Indies,West Indies,36 runs,Lord's,"Aug 28-29, 1976"
62,ODI # 63,England,Australia,England,6 wickets,Lord's,"Jun 9, 1979"
73,ODI # 74,England,West Indies,West Indies,92 runs,Lord's,"Jun 23, 1979"
89,ODI # 90,England,West Indies,England,3 wickets,Lord's,"May 30, 1980"
118,ODI # 119,England,Australia,England,6 wickets,Lord's,"Jun 4, 1981"
204,ODI # 205,England,Pakistan,England,8 wickets,Lord's,"Jun 13, 1983"
214,ODI # 215,Australia,West Indies,West Indies,7 wickets,Lord's,"Jun 18, 1983"
222,ODI # 223,India,West Indies,India,43 runs,Lord's,"Jun 25, 1983"
265,ODI # 266,England,West Indies,West Indies,8 wickets,Lord's,"Jun 4, 1984"
330,ODI # 331,England,Australia,England,8 wickets,Lord's,"Jun 3, 1985"
519,ODI # 520,England,West Indies,England,7 wickets,Lord's,"May 23-24, 1988"
567,ODI # 568,England,Australia,Australia,6 wickets,Lord's,"May 29, 1989"
677,ODI # 678,England,West Indies,England,7 wickets,Lord's,"May 27, 1991"
755,ODI # 756,England,Pakistan,England,79 runs,Lord's,"May 20, 1992"
759,ODI # 760,England,Pakistan,Pakistan,3 runs,Lord's,"Aug 22, 1992"
831,ODI # 832,England,Australia,Australia,19 runs,Lord's,"May 23, 1993"
1001,ODI # 1002,England,West Indies,England,73 runs,Lord's,"May 28, 1995"
1212,ODI # 1213,England,Australia,England,6 wickets,Lord's,"May 25, 1997"
1345,ODI # 1346,England,Sri Lanka,England,36 runs,Lord's,"Aug 16, 1998"
1347,ODI # 1348,England,Sri Lanka,Sri Lanka,5 wickets,Lord's,"Aug 20, 1998"
1442,ODI # 1443,England,Sri Lanka,England,8 wickets,Lord's,"May 14, 1999"
1476,ODI # 1477,Australia,Zimbabwe,Australia,44 runs,Lord's,"Jun 9, 1999"
1483,ODI # 1484,Australia,Pakistan,Australia,8 wickets,Lord's,"Jun 20, 1999"
1608,ODI # 1609,England,West Indies,no result,NaN,Lord's,"Jul 9, 2000"
1618,ODI # 1619,England,Zimbabwe,England,6 wickets,Lord's,"Jul 22, 2000"
1721,ODI # 1722,England,Pakistan,Pakistan,2 runs,Lord's,"Jun 12, 2001"
1727,ODI # 1728,Australia,Pakistan,Australia,9 wickets,Lord's,"Jun 23, 2001"
1847,ODI # 1848,England,India,India,6 wickets,Lord's,"Jun 29, 2002"
1855,ODI # 1856,England,India,India,2 wickets,Lord's,"Jul 13, 2002"
2026,ODI # 2027,England,Pakistan,England,4 wickets,Lord's,"Jun 22, 2003"
2036,ODI # 2037,England,South Africa,England,7 wickets,Lord's,"Jul 12, 2003"
2139,ODI # 2140,England,West Indies,West Indies,7 wickets,Lord's,"Jul 6, 2004"
2141,ODI # 2142,New Zealand,West Indies,New Zealand,107 runs,Lord's,"Jul 10, 2004"
2165,ODI # 2166,Australia,Pakistan,Australia,10 runs,Lord's,"Sep 4, 2004"
2166,ODI # 2167,England,India,India,23 runs,Lord's,"Sep 5, 2004"
2257,ODI # 2258,England,Australia,tied,NaN,Lord's,"Jul 2, 2005"
2259,ODI # 2260,England,Australia,Australia,7 wickets,Lord's,"Jul 10, 2005"
2383,ODI # 2384,England,Sri Lanka,Sri Lanka,20 runs,Lord's,"Jun 17, 2006"
2408,ODI # 2409,England,Pakistan,Pakistan,7 wickets,Lord's,"Sep 2, 2006"
2593,ODI # 2594,England,West Indies,England,79 runs,Lord's,"Jul 1, 2007"
2619,ODI # 2620,England,India,England,7 wickets,Lord's,"Sep 8, 2007"
2719,ODI # 2720,England,New Zealand,New Zealand,51 runs,Lord's,"Jun 28, 2008"
2758,ODI # 2759,England,South Africa,England,7 wickets,Lord's,"Aug 31, 2008"
2882,ODI # 2883,England,Australia,Australia,39 runs,Lord's,"Sep 6, 2009"
2887,ODI # 2888,England,Australia,Australia,7 wickets,Lord's,"Sep 12, 2009"
3010,ODI # 3011,England,Australia,Australia,42 runs,Lord's,"Jul 3, 2010"
3045,ODI # 3046,England,Pakistan,Pakistan,38 runs,Lord's,"Sep 20, 2010"
3167,ODI # 3168,England,Sri Lanka,Sri Lanka,6 wickets,Lord's,"Jul 3, 2011"
3190,ODI # 3191,England,India,tied,NaN,Lord's,"Sep 11, 2011"
3279,ODI # 3280,England,Australia,England,15 runs,Lord's,"Jun 29, 2012"
3301,ODI # 3302,England,South Africa,England,6 wickets,Lord's,"Sep 2, 2012"
3359,ODI # 3360,England,New Zealand,New Zealand,5 wickets,Lord's,"May 31, 2013"
3494,ODI # 3495,England,Sri Lanka,Sri Lanka,7 runs,Lord's,"May 31, 2014"
3680,ODI # 3681,England,Australia,Australia,64 runs,Lord's,"Sep 5, 2015"
3770,ODI # 3771,England,Pakistan,England,4 wickets,Lord's,"Aug 27, 2016"
3864,ODI # 3865,England,Ireland,England,85 runs,Lord's,"May 7, 2017"
3873,ODI # 3874,England,South Africa,South Africa,7 wickets,Lord's,"May 29, 2017"

In [38]:
Lords_Wins.describe()

       Scorecard   Team 1     Team 2   Winner     Margin  Ground    Match Date
count         60       60         60       60         57      60            60
unique        60        4          9       10         31       1            60
top      ODI # 3  England  Australia  England  7 wickets  Lord's  Aug 26, 1972
freq           1       52         14       23         11      60             1

In [39]:
x = 1
for i in range(1,10,2):
   print(x*i)

1
3
5
7
9

In [40]:
a = np.array([['m','2'],['n','3']])
print(a[0,1])

2

In [41]:
data['Ground'].value_counts()

Sharjah       228
Dhaka         156
Sydney        154
Melbourne     147
Harare        136
             ...
Hove            1
Nairobi         1
Vijayawada      1
Kwekwe          1
Lucknow         1
Name: Ground, Length: 173, dtype: int64

In [42]:
data1 = data[data['Ground'] == 'Sharjah']
data1['Winner'].value_counts()

Pakistan        83
India           35
Sri Lanka       29
West Indies     19
Australia       14
South Africa    10
New Zealand      9
Afghanistan      9
England          8
Zimbabwe         8
tied             2
Canada           1
Netherlands      1
Name: Winner, dtype: int64

In [43]:
 data['Match Date'].value_counts()

Feb 4, 2007     6
Jun 7, 1975     4
Jul 10, 2010    4
Jun 14, 1975    4
Jun 11, 1975    4
               ..
Sep 26, 1998    1
Sep 27, 1998    1
Sep 30, 1998    1
Oct 24, 1998    1
Oct 29, 2017    1
Name: Match Date, Length: 3386, dtype: int64

In [44]:
data1 = data[data['Winner'] == 'Australia']
data1['Ground'].value_counts()

Sydney        85
Melbourne     74
Adelaide      34
Perth         29
Brisbane      23
              ..
Cardiff        1
Bristol        1
Faridabad      1
Amstelveen     1
Benoni         1
Name: Ground, Length: 97, dtype: int64

In [45]:
(data['Team 2'] == data['Winner']).sum()

1637

In [48]:
data1 = data[data['Ground'] == "Lord's"]
data1['Winner'].value_counts()

England         23
Australia       12
West Indies      6
India            4
Pakistan         4
Sri Lanka        4
New Zealand      3
tied             2
no result        1
South Africa     1
Name: Winner, dtype: int64